In [2]:
import pandas as pd

In [17]:
"hello".__str__()

'hello'

In [ ]:
df = pd.read_xml("dst_restaurant_2025-05.xml")

In [30]:
len(df["dish_name_zh"].unique())

21

In [31]:
df["dish_name_zh"].unique()

array(['國際', '中國', '意大利', '西班牙', '葡萄牙', '葡萄牙／國際', '泰國', '火鍋', '日本', '緬甸',
       None, '澳門／葡萄牙', '美國', '西式', '法國', '中國／國際', '宴會', '澳門／國際', '快餐',
       '韓國', '印度'], dtype=object)

In [43]:
df.groupby("dish_name_zh").agg( len  )["name_cn"]

dish_name_zh
中國        186
中國／國際       2
印度          1
國際        123
宴會          6
快餐          2
意大利         9
日本         23
法國          6
泰國          6
澳門／國際       1
澳門／葡萄牙      4
火鍋          7
緬甸          2
美國          3
葡萄牙        37
葡萄牙／國際      3
西式          5
西班牙         1
韓國          1
Name: name_cn, dtype: int64